body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
}

.diamond-country {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #565d3f;
	position: relative;
	top: -10px;
}

.diamond-country:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #565d3f;
}

.diamond-month {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #6d413c;
	position: relative;
	top: -10px;
}

.diamond-month:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #6d413c;
}

.coord{
	position: absolute;
	top: 4px;
	left: 8px;
	font-size: 16px;
	z-index: 2;
	color: white;
	/*font-family: 'Nunito', sans-serif;*/
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.nav-links{
	flex:1;
	text-align: right;
	z-index: 2;
	position: absolute;
	right: 150px;
	margin-top: 150px;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color:#ffffff;
	text-decoration:none;
	font-size: 25px;
	/*font-family: 'Nunito', sans-serif;*/
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffcf5d;
	display: block;
	margin: auto;
	transition: 0.5s;
}
	
.nav-links ul li:hover::after{
	width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  max-width: 100%;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}


button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
  z-index: 2;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.left {
  left: 3%;
}

.right {
  left: 97%;
}

.left:hover polyline{
	stroke-width: 3;
	stroke:#ffcf5d;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline{
  stroke-width: 3;
  stroke: #ffcf5d;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

.below{
	background-color: #fff4da;
	width: auto;
	height: 800vh;
	min-width: 0;
	min-height: 0;
}

.flexbox-container-continents {
	min-width: 0;
	min-height: 0;
	display: flex;
	height: 60vh;
	justify-content: space-evenly;
}

.continent-names {
	display: flex;
	flex-direction: column;
	width:26.6666%;
}

.each-continents-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-continents {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.continent {
	font-size: 20px;
	margin: 10px;
	color: #565d3f;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.continent::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffcf5d;
	display: block;
	margin: auto;
	transition: 0.5s;
}
	
.continent:hover::after{
	width: 100%;
}

.flexbox-container-sidebar {
	display: flex;
	height: 100vh;
	flex-direction: column;
	width: 20%;
}

.outer-container {
	min-width: 0;
	min-height: 0;
	border-top: 50px solid #fff4da;
	border-right: 20px solid #fff4da;
	border-left: 20px solid #fff4da;
	display: flex;
	flex-direction: row;
}

.left-side-container {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.diary-title {
	font-size: 50px;
	color: #8D6B67;
}

.diary-entries {
	line-height: 1.5;
}

.diary-container {
	margin-top: 0px;
	margin-right: 6%;
	margin-left: 3%;
}

.diary-image {
	width: 100%;
	position: relative;

}

figure {
	width: 40%;
	text-align: center;
	display: block;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}

.flexbox-child {
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	display: flex;
	align-self: flex-start;
}

.flexbox-img {
	min-width: 0;
	min-height: 0;
	object-fit: contain;
	margin: 10%;

}

.flexbox-item-1 {

}

.flexbox-item-2 {

}

.flexbox-item-3 {

}

.web-title {
	border-bottom: 10px solid #fff4da;
}

.insta-links {
	display: flex;
	align-items: center;
}

.insta-logo {
	margin: 3px;
}

.erin-insta {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}

.alex-insta {
	font-size: 18px;
	text-decoration: none;
	color: #111111
}

.email-links {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}

.email-logo {
	margin-top: 5px;
}

.email-link {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}

.tiktok-links {
	display: flex;
	align-items: center;
}

.tiktok-logo {
	margin: 5px;
	margin-top: 3px;
}

.tiktok-link {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}

.link-container {
	display: flex;
	flex-direction: column;
}

.intro {
	font-size: 20px;
	text-align: center;
}

.list-header {
	font-size:30px; 
	text-align: center; 
	color: #111111;
}

.countries-list {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	background-color: #c6bf90;
}

.each-countries-container {
	display: flex;
	align-items: center;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-country {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.centering-country::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #565d3f;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-country::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #565d3f;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-country:hover::before {
	width: 20%;
}

.centering-country:hover::after{
	width: 20%;
}

.country {
	font-size: 20px;
	margin: 10px;
	color: #565d3f;
	text-decoration: none;
}

.months-list {
	display: flex;
	flex-direction: column;
	background-color: #c6bf90;
}

.each-months-container {
	display: flex;
	align-items: center;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-month {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.centering-month::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-month::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-month:hover::before {
	width: 20%;
}

.centering-month:hover::after{
	width: 20%;
}

.month {
	font-size: 20px;
	margin: 10px;
	color: #6d413c;
	text-decoration: none;
}


@media screen and (max-width: 500px) {
	.coord{
	font-size: 8px;
	}
	
	.nav-links{
	flex:1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right: 10px;
	}

	.nav-links ul li{
	list-style: none;
	padding: 2px 3px;
	}
	
	.nav-links ul li a{
	font-size: 12px;
	}
	
	.arrow {
	 width: 54px;
	 height: 72px;
	}
	
	.left {
	left: 10%;
	}

	.right {
	left: 94%;
	}
	
	.flexbox-img {
		width: 180px;
		height: auto;
		margin: 0;
		margin-bottom: 5%;
	}
	
	.flexbox-container-continents {
		flex-direction: column;
		align-items: center;
	}
	
	.left-side-container {
		width: 60%;
	}
	
	.flexbox-container-sidebar {
		width: 40%;
	}
	
	.outer-container {

	}
	
	.intro {
		font-size: 13px;
	}
	
	.insta-links {
		flex-direction: column;
	}
	
	.tiktok-links {
		flex-direction: column;
	}
	
	.email-links {
		flex-direction: column;
	}
	
	.erin-insta {
		font-size: 12px;
	}
	
	.alex-insta {
		font-size: 12px;
	}
	
	.tiktok-link {
		font-size: 12px;
	}
	
	.email-link {
		font-size: 12px;
	}
	
	.list-header {
		font-size: 15px;
	}
	
	.country {
		font-size: 10px;
	}
	
	.continent {
		font-size: 10px;
	}
	
	.month {
		font-size: 10px;
	}
	
	.diamond-country {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom-color: #565d3f;
		position: relative;
		top: -5px;
	}

	.diamond-country:after {
		content: '';
		position: absolute;
		left: -5px;
		top: 5px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #565d3f;
	}
	
	.diamond-month {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom-color: #6d413c;
		position: relative;
		top: -5px;
	}

	.diamond-month:after {
		content: '';
		position: absolute;
		left: -5px;
		top: 5px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #6d413c;
	}
	
	.diary-entries {
		font-size: 10px;
	}
	
	.left-side-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	}
	
	.diary-dates {
		font-size: 15px;
	}

	.diary-container {
		margin-top: 25px;
		margin-right: 10%;
		margin-left: 3%;
	}
	
	.diary-title {
		font-size: 30px;
		color: #8D6B67;
	}
	
	figure {
		font-size: 8px;
	}
}

@media screen and (max-width: 920px) {
	.insta-links {
		flex-direction: column;
	}
	
	.tiktok-links {
		flex-direction: column;
	}
	
	.email-links {
		flex-direction: column;
	}
	
	.erin-insta {
		font-size: 12px;
	}
	
	.alex-insta {
		font-size: 12px;
	}
	
	.tiktok-link {
		font-size: 12px;
	}
	
	.email-link {
		font-size: 12px;
	}
	
	.list-header {
		font-size: 18px;
	}
	
	.country {
		font-size: 13px;
	}
	
	.month {
		font-size: 13px;
	}
	
	.diamond-country {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #565d3f;
		position: relative;
		top: -6px;
	}

	.diamond-country:after {
		content: '';
		position: absolute;
		left: -6px;
		top: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: #565d3f;
	}
	
	.diamond-month {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #6d413c;
		position: relative;
		top: -6px;
	}

	.diamond-month:after {
		content: '';
		position: absolute;
		left: -6px;
		top: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: #6d413c;
	}
	
}


