body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	background-color: #fff4da; 
}

/* { border: 1px solid red; }*/

img {
	max-width: 100%;
}

h3 {
	font-size: 30px;
	left: 8vw;
	position: relative;
	margin: 10vh 2vh;
	width: 20%;
}

.diamond-country {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #565d3f;
	position: relative;
	top: 5px;
}

.diamond-country:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #565d3f;
}

.diamond-month {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #6d413c;
	position: relative;
	top: 5px;
}

.diamond-month:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #6d413c;
}

.diamond-continent {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #565d3f;
	position: relative;
	top: -10px;
}

.diamond-continent:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #565d3f;
}

.coord{
	position: absolute;
	top: 4px;
	left: 8px;
	font-size: 16px;
	z-index: 2;
	color: white;
	/*font-family: 'Nunito', sans-serif;*/
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.nav-links{
	flex:1;
	text-align: right;
	z-index: 2;
	position: absolute;
	right: 150px;
	margin-top: 150px;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color:#ffffff;
	text-decoration:none;
	font-size: 25px;
	/*font-family: 'Nunito', sans-serif;*/
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffcf5d;
	display: block;
	margin: auto;
	transition: 0.5s;
}
	
.nav-links ul li:hover::after{
	width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 800ms opacity ease-in-out;
  transition-delay: 200ms;
  max-width: 100%;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}


button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
  z-index: 2;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.left {
  left: 3%;
}

.right {
  left: 97%;
}

.left:hover polyline{
	stroke-width: 3;
	stroke:#ffcf5d;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline{
  stroke-width: 3;
  stroke: #ffcf5d;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

.outer-container {
	min-width: 0;
	min-height: 0;
	border-top: 50px solid #fff4da;
	border-right: 20px solid #fff4da;
	border-left: 20px solid #fff4da;
	display: flex;
	flex-direction: column;
}

/* continents images */

.continents-intro {
	display: flex;
}

.continents-diarytitle {
	flex-direction: column;
	display: flex;
	width: 80%;
}



/* continents and their names */

.flexbox-container-continents {
	min-width: 0;
	min-height: 0;
	display: flex;
	height: 60vh;
	justify-content: space-evenly;
	margin-top: 5%;
}

.continent-names {
	display: flex;
	flex-direction: column;
	width:26.6666%;
}

.flexbox-child {
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	display: flex;
	align-self: flex-start;
}

.flexbox-img {
	min-width: 0;
	min-height: 0;
	object-fit: contain;
	margin: 10%;
}

.each-continents-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-continents {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.continent {
	font-size: 20px;
	margin: 10px;
	color: #565d3f;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.continent::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffcf5d;
	display: block;
	margin: auto;
	transition: 0.5s;
}
	
.continent:hover::after{
	width: 100%;
}



/*title, intro and social media links */

.intro-section {
	display: flex;
	width: 20%;
	flex-direction: column;
}

.web-title {
	border-bottom: 10px solid #fff4da;
}

.intro {
	font-size: 20px;
	text-align: center;
}

.insta-links {
	display: flex;
	align-items: center;
}

.insta-logo {
	margin: 3px;
}

.link-container {
	display: flex;
	flex-direction: column;
}

.erin-insta {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}

.alex-insta {
	font-size: 18px;
	text-decoration: none;
	color: #111111
}

.tiktok-links {
	display: flex;
	align-items: center;
}

.tiktok-logo {
	margin: 5px;
	margin-top: 3px;
}

.tiktok-link {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}

.email-links {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}

.email-logo {
	margin-top: 5px;
}

.email-link {
	font-size: 18px;
	text-decoration: none;
	color: #111111;
}





.diary-sidebar {
	display: flex;
	justify-content: space-between;
}

.switch {
      display:flex;
      top: 50%;
      left: 20%;
      width: 32%;
      height: 25px;
      text-align: center;
      background: #828771;
      transition: all 0.3s ease;
      border-radius: 26px;
    }

input[type=radio] {
      display: none;
    }
.switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 200px;
      line-height: 27px;
      transition: all 0.2s ease;
	  font-size: 16px;
    }
label[for=yes] {
      left: 0px;
      height: 20px;
    }
label[for=no] {
      right: 0px;
	  
    }
#no:checked ~ .switch {
      background: #828771;
    }
#no:checked ~ .switch span {
      background: #fff;
      margin-left: -8px;
    }
#no:checked ~ .switch span:after {
      background: #fff;
      height: 20px;
      margin-top: -8px;
      margin-left: 8px;
    }
#yes:checked ~ .switch label[for=yes] {
      color: #fff;
    }
#no:checked ~ .switch label[for=no] {
      color: #fff;
    }


/* Diary entries */

.diary-sidebar .diary-container {
	margin-top: 0px;
	margin-right: 6%;
	margin-left: 3%;
	width: 80%;
}

.diary-sidebar.closed .diary-container {
	width: 100%;
}

.diary-title {
	font-size: 50px;
	color: #8D6B67;
}

.diary-dates {
	margin-top: 10vh;
}

.diary-entries {
	line-height: 1.5;
}

.diary-image {
	width: 100%;
	position: relative;
}

figure {
	width: 40%;
	text-align: center;
	display: block;	
	margin: 10vh auto 10vh auto;
}

.lone-image {
	width: 40%; 
	display: block; 
	margin: 10vh auto 10vh auto;
}

.diary-sidebar .duel-image-1 {
	width: 40%; 
	display: float; 
	margin: 5vh 3.4vw 10vh 3.4vw;
	float: left;
}

.diary-sidebar.closed .duel-image-1 {
	margin: 5vh 4.3vw 10vh 4.3vw;
}

.diary-sidebar .duel-image-2 {
	width: 40%; 
	display: float; 
	margin: 5vh 3.4vw 10vh 3.4vw;
	float: right;
}

.diary-sidebar.closed .duel-image-2 {
	margin: 5vh 4.3vw 10vh 4.3vw;
}



/*countries and months sidebar */

.sidebar{
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-top: 10px;
	height: 100vh;
	width: 26%;
	transition: width 200ms ease-in-out;
}

.diary-sidebar.closed .sidebar  {
	width: 1.82%;
}

.sidebar-contents::-webkit-scrollbar {
	display: none;
}

.diary-sidebar .slide-icon {
	display: flex;
	background-color: #c6bf90;
	width: 7%;
	margin: 40vh 0 40vh 0;
	position: sticky;
	border-radius: 50px 0 0 50px;
	cursor: pointer;
}

.diary-sidebar.closed .slide-icon {
	width: 100%;
}

.slide-icon:hover {
	background-color: #c1bf90;
	margin: 39vh 0 39vh 0;
}

.diary-sidebar .arrow-in {
	position: absolute;
	top: 45%;
	margin-top: -20px;
	margin-left: -7px;
	width: 70px;
	height: auto;
	transition: transform 800ms ease-in-out;
}

.diary-sidebar.closed .arrow-in {
	transform: rotate(180deg);
	margin-left: -48px;
	margin-top: -25px;
}

.diary-sidebar .sidebar-contents {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 93%;
	border-radius: 20px 0 0 20px;
	transition: width 200ms ease-out;
}

.diary-sidebar.closed .sidebar-contents {
	width:0%;
}

.countries-list {
	display: flex;
	flex-direction: column;
	border-top: 20px;
	background-color: #c6bf90;
}

.list-header {
	font-size:30px; 
	text-align: center; 
	color: #111111;
}

.each-countries-container {
	display: flex;
	align-items: top;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-country {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.country-lines {
	display: flex;
}

.country-lines::after {
	content: '';
	height: 2px;
	background: #565d3f;
	margin: auto;
	transition: 0.5s;
}

.country-lines::before {
	content: '';
	height: 2px;
	background: #565d3f;
	margin: auto;
	transition: 0.5s;
}

.country-lines:hover::before {
	width: 20%;
}

.country-lines:hover::after{
	width: 20%;
}

.country {
	font-size: 20px;
	margin: 10px;
	color: #565d3f;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
}



.months-list {
	display: flex;
	flex-direction: column;
	background-color: #c6bf90;
}

.each-months-container {
	display: flex;
	align-items: top;
	margin-left: 1vw;
	margin-right: 1vw;
}

.centering-month {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.centering-month::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-month::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.centering-month:hover::before {
	width: 0%;
}

.centering-month:hover::after{
	width: 0%;
}

.month-lines {
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

.month-lines::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.month-lines::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #6d413c;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.month-lines:hover::before {
	width: 20%;
}

.month-lines:hover::after{
	width: 20%;
}

.month {
	font-size: 20px;
	margin: 10px;
	color: #6d413c;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
}

.dropbtn {
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {

}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  background-color: #c6bf90;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #82664e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {color: #ffcf5d;}

.dropdown-content-month {
  display: none;
  background-color: #c6bf90;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content-month a {
  color: #565d3f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content-month a:hover {color: #ffcf5d;}

.show {
	display:block;
}




@media screen and (max-width: 920px) {
	
	.left {
	  left: 4%;
	}

	.right {
	  left: 96%;
	}
	
	.diary-sidebar .diary-container {
		width: 60%;
		margin-right: 3%;
	}

	.diary-sidebar.closed .diary-container {
		
	}	

	.sidebar{
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		margin-top: 20px;
		width: 40%;
		transition: width 200ms ease-in-out;
	}

	.diary-sidebar.closed .sidebar  {
		width: 3%;
	}

	.diary-sidebar .slide-icon {
		display: flex;
		background-color: #c6bf90;
		width: 7%;
		height: 20vh;
		margin: 40vh 0 40vh 0;
		position: sticky;
		border-radius: 50px 0 0 50px;
		cursor: pointer;
	}

	.diary-sidebar.closed .slide-icon {
		width: 100%;
	}

	.slide-icon:hover {
		background-color: #c1bf90;
		margin: 39vh 0 39vh 0;
	}

	.diary-sidebar .arrow-in {
		position: absolute;
		top: 45%;
		margin-top: -20px;
		margin-left: -7px;
		width: 70px;
		height: auto;
		transition: transform 800ms ease-in-out;
	}

	.diary-sidebar.closed .arrow-in {
		transform: rotate(180deg);
		margin-left: -48px;
		margin-top: -25px;
	}

	.diary-sidebar .sidebar-contents {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		width: 93%;
		border-radius: 20px 0 0 20px;
		transition: width 200ms ease-out;
	}

	.diary-sidebar.closed .sidebar-contents {
		width:0%;
	}
	
	.diary-sidebar .lone-image {
		width: 60%;
		margin: 4vh auto;
	}

	.diary-sidebar .duel-image-1 {
		margin: 5vh 2.4vw;
	}

	.diary-sidebar .duel-image-2 { 
		margin: 5vh 2.4vw;
	}
	
	.insta-links {
		flex-direction: column;
	}
	
	.tiktok-links {
		flex-direction: column;
	}
	
	.email-links {
		flex-direction: column;
	}
	
	.erin-insta {
		font-size: 22px;
	}
	
	.alex-insta {
		font-size: 22px;
	}
	
	.tiktok-link {
		font-size: 22px;
	}
	
	.email-link {
		font-size: 22px;
	}
	
	.list-header {
		font-size: 30px;
	}
	
	.country {
		font-size: 25px;
	}
	
	.month {
		font-size: 25px;
	}
	
	.diamond-country {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #565d3f;
		position: relative;
		top: 13px;
	}

	.diamond-country:after {
		content: '';
		position: absolute;
		left: -6px;
		top: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: #565d3f;
	}
	
	.diamond-month {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #6d413c;
		position: relative;
		top: 13px;
	}

	.diamond-month:after {
		content: '';
		position: absolute;
		left: -6px;
		top: 6px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-top-color: #6d413c;
	}
	
	.each-countries-container {
		margin-top: 1vh;
	}
	
	.each-months-container {
		margin-top: 1vh;
	}
	
	.continents-diarytitle{
		width: 60%;
	}
	
	.intro-section {
		width: 40%;
	}
	
	.flexbox-container-continents {
		flex-direction: column;
		align-items: center;
	}
	
	.dropdown-content a {
		font-size: 15px;
	}
	
	.switch {
      display:flex;
      top: 50%;
      left: 20%;
      width: 80%;
      height: 25px;
      text-align: center;
      background: #828771;
      transition: all 0.3s ease;
      border-radius: 26px;
    }

	input[type=radio] {
      display: none;
    }
	.switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 200px;
      line-height: 28px;
      transition: all 0.2s ease;
	  font-size: 15px;
    }
	
	.dropdown-content {
		font-size: 10px;
	}
	
}

@media screen and (max-width: 600px) {
	
	.left {
	  left: 7%;
	}

	.right {
	  left: 93%;
	}
		
	.nav-links ul li a {
		font-size: 12px;
	}
	
	.diary-sidebar .diary-container {
		width: 60%;
	}

	.diary-sidebar.closed .diary-container {

	}	

	.sidebar{
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		margin-top: 20px;
		width: 40%;
		transition: width 200ms ease-in-out;
	}

	.diary-sidebar.closed .sidebar  {
		width: 3%;
	}

	.diary-sidebar .slide-icon {
		display: flex;
		background-color: #c6bf90;
		width: 7%;
		height: 20vh;
		margin: 40vh 0 40vh 0;
		position: sticky;
		border-radius: 50px 0 0 50px;
		cursor: pointer;
	}

	.diary-sidebar.closed .slide-icon {
		width: 100%;
	}

	.slide-icon:hover {
		background-color: #c1bf90;
		margin: 39vh 0 39vh 0;
	}

	.diary-sidebar .arrow-in {
		position: absolute;
		top: 45%;
		margin-top: -20px;
		margin-left: -7px;
		width: 70px;
		height: auto;
		transition: transform 800ms ease-in-out;
	}

	.diary-sidebar.closed .arrow-in {
		transform: rotate(180deg);
		margin-left: -38px;
		margin-top: -25px;
		width: 50px;
	}

	.diary-sidebar .sidebar-contents {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		width: 93%;
		border-radius: 20px 0 0 20px;
		transition: width 200ms ease-out;
	}

	.diary-sidebar.closed .sidebar-contents {
		width:0%;
	}
	
	.diary-sidebar .lone-image {
		width: 60%;
		margin: 4vh auto;
	}

	.diary-sidebar .duel-image-1 {
		margin: 5vh 2.4vw;
	}

	.diary-sidebar .duel-image-2 { 
		margin: 5vh 2.4vw;
	}
	
		.erin-insta {
		font-size: 18px;
	}
	
	.alex-insta {
		font-size: 18px;
	}
	
	.tiktok-link {
		font-size: 18px;
	}
	
	.email-link {
		font-size: 15px;
	}
	
	.list-header {
		font-size: 25px;
	}
	
	.country {
		font-size: 20px;
	}
	
	.month {
		font-size: 20px;
	}
	
	
	.switch {
      display:flex;
      top: 50%;
      left: 20%;
      width: 65%;
      height: 15px;
      text-align: center;
      background: #828771;
      transition: all 0.3s ease;
      border-radius: 26px;
    }

	input[type=radio] {
      display: none;
    }
	.switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 180px;
      line-height: 15px;
      transition: all 0.2s ease;
	  font-size: 8px;
    }
}


@media screen and (max-width: 500px) {
	
	.diary-sidebar .diary-container {
		width: 50%;
	}

	.diary-sidebar.closed .diary-container {

	}	

	.sidebar{
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		margin-top: 20px;
		width: 50%;
		transition: width 200ms ease-in-out;
	}

	.diary-sidebar.closed .sidebar  {
		width: 5%;
	}

	.diary-sidebar .slide-icon {
		display: flex;
		background-color: #c6bf90;
		width: 10%;
		height: 20vh;
		margin: 40vh 0 40vh 0;
		position: sticky;
		border-radius: 50px 0 0 50px;
		cursor: pointer;
	}

	.diary-sidebar.closed .slide-icon {
		width: 100%;
	}

	.slide-icon:hover {
		background-color: #c1bf90;
		margin: 39vh 0 39vh 0;
	}

	.diary-sidebar .arrow-in {
		position: absolute;
		top: 45%;
		margin-top: -20px;
		margin-left: -8px;
		width: 45px;
		height: auto;
		transition: transform 800ms ease-in-out;
	}

	.diary-sidebar.closed .arrow-in {
		transform: rotate(180deg);
		margin-left: -33px;
		margin-top: -25px;
		width: 45px;
	}

	.diary-sidebar .sidebar-contents {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		width: 90%;
		border-radius: 20px 0 0 20px;
		transition: width 200ms ease-out;
	}

	.diary-sidebar.closed .sidebar-contents {
		width:0%;
	}
	
	.diary-sidebar .lone-image {
		width: 60%;
		margin: 4vh auto;
	}

	.diary-sidebar .duel-image-1 {
		margin: 5vh 1.8vw;
	}

	.diary-sidebar .duel-image-2 { 
		margin: 5vh 1.8vw;
	}
	
	figcaption {
		font-size: 10px;
	}
	
	
	
	.coord{
	font-size: 8px;
	}
	
	.nav-links{
	flex:1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right: 10px;
	}

	.nav-links ul li{
	list-style: none;
	padding: 2px 3px;
	}
	
	.nav-links ul li a{
	font-size: 12px;
	}
	
	.arrow {
	 width: 54px;
	 height: 72px;
	}
	
	.left {
	left: 10%;
	}

	.right {
	left: 94%;
	}
	
	.flexbox-img {
		width: 180px;
		height: auto;
		margin: 0;
		margin-bottom: 5%;
	}
	
	.flexbox-container-continents {
		flex-direction: column;
		align-items: center;
	}
	
	.continents-diarytitle {
		width: 60%;
	}
	
	.intro-section {
		width: 40%;
	}
	
	.intro {
		font-size: 10px;
	}
	
	.insta-links {
		flex-direction: column;
	}
	
	.tiktok-links {
		flex-direction: column;
	}
	
	.email-links {
		flex-direction: column;
	}
	
	.erin-insta {
		font-size: 10px;
	}
	
	.alex-insta {
		font-size: 10px;
	}
	
	.tiktok-link {
		font-size: 10px;
	}
	
	.email-link {
		font-size: 10px;
	}
	
	.list-header {
		font-size: 15px;
	}
	
	.country {
		font-size: 10px;
	}
	
	.continent {
		font-size: 10px;
	}
	
	.month {
		font-size: 10px;
	}
	
	.diamond-country {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom-color: #565d3f;
		position: relative;
		top: 8px;
	}

	.diamond-country:after {
		content: '';
		position: absolute;
		left: -5px;
		top: 5px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #565d3f;
	}
	
	.diamond-month {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom-color: #6d413c;
		position: relative;
		top: 8px;
	}

	.diamond-month:after {
		content: '';
		position: absolute;
		left: -5px;
		top: 5px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-top-color: #6d413c;
	}
	
	.diary-entries {
		font-size: 10px;
	}
	
	.diary-dates {
		font-size: 15px;
	}
	
	.diary-title {
		font-size: 30px;
		color: #8D6B67;
	}
	
	.switch {
      display:flex;
      top: 50%;
      left: 20%;
      width: 100%;
      height: 13px;
      text-align: center;
      background: #828771;
      transition: all 0.3s ease;
      border-radius: 26px;
    }

	input[type=radio] {
      display: none;
    }
	.switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 180px;
      line-height: 15px;
      transition: all 0.2s ease;
	  font-size: 8px;
    }
	
	.each-countries-container {
		margin-top: 0.6vh;
	}
	
	.each-months-container {
		margin-top: 0.6vh;
	}
	
	.country, .month {
		font-size: 15px;
	}
	
	.list-header {
		font-size: 22px;
	}
	
	
}

@media screen and (max-width: 300px) {
	
	.left {
		left: 10%;
	}
	
	.right {
		left: 93%; 
	}
	
	.diary-sidebar .diary-container {
		width: 50%;
	}

	.diary-sidebar.closed .diary-container {

	}	

	.sidebar{
		display: flex;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		margin-top: 20px;
		width: 50%;
		transition: width 200ms ease-in-out;
	}

	.diary-sidebar.closed .sidebar  {
		width: 5%;
	}

	.diary-sidebar .slide-icon {
		display: flex;
		background-color: #c6bf90;
		width: 10%;
		height: 20vh;
		margin: 40vh 0 40vh 0;
		position: sticky;
		border-radius: 50px 0 0 50px;
		cursor: pointer;
	}

	.diary-sidebar.closed .slide-icon {
		width: 100%;
	}

	.slide-icon:hover {
		background-color: #c1bf90;
		margin: 39vh 0 39vh 0;
	}

	.diary-sidebar .arrow-in {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		margin-left: -8px;
		width: 35px;
		height: auto;
		transition: transform 800ms ease-in-out;
	}

	.diary-sidebar.closed .arrow-in {
		transform: rotate(180deg);
		margin-left: -25px;
		margin-top: -25px;
		width: 35px;
	}

	.diary-sidebar .sidebar-contents {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		width: 90%;
		border-radius: 20px 0 0 20px;
		transition: width 200ms ease-out;
	}

	.diary-sidebar.closed .sidebar-contents {
		width:0%;
	}
	
	.diary-sidebar .lone-image {
		width: 60%;
		margin: 4vh auto;
	}

	.diary-sidebar .duel-image-1 {
		margin: 5vh 1.8vw;
	}

	.diary-sidebar .duel-image-2 { 
		margin: 5vh 1.8vw;
	}	
	
	
	.switch {
      display:flex;
      top: 50%;
      left: 20%;
      width: 65%;
      height: 10px;
      text-align: center;
      background: #828771;
      transition: all 0.3s ease;
      border-radius: 26px;
    }

	input[type=radio] {
      display: none;
    }
	.switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 180px;
      line-height: 12px;
      transition: all 0.2s ease;
	  font-size: 3px;
    }
	
	.each-countries-container {
		margin-top: 0.4vh;
	}
	
	.each-months-container {
		margin-top: 0.4vh;
	}
	
	.country, .month {
		font-size: 9px;
	}
	
	.list-header {
		font-size: 13px;
	}
	
	.dropdown-content-month a, .dropdown-content a {
		font-size: 9px;
	}
}


